rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**}{

      allow read: if false;
      allow write: if true;
    }
  	function emailExist() {
  		return exists(/databases/$(database)/documents/emails/$(request.auth.token.email));
  	}
    
    function gameName() {
    	return get(/databases/$(database)/documents/emails/$(request.auth.token.email)).data.city;
    }
    function testData() {
    	return get(/databases/$(database)/documents/GamePot_Test_1/$(request.auth.uid)).data.City;
    }
    
  }
}